@import "tailwindcss";

@theme {
  --color-bg: #fffef2;
  --color-surface: #fefefe;
  --color-border: #e0ddd0;
  --color-accent: #191919;
  --color-text: #1a180f;
  --color-text-muted: #706a52;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font-geist-sans), system-ui, sans-serif;
}
